body {
	font-family: Futura, Arial, Helvetica, sans-serif;
	background-image: url("images/jwst.jpg");
	background-color: darkslategray;
	color: #0D0D0D;
}

h1 {
	color: #0D0D0D;
}

p {
	color: #0D0D0D;
}

.classy {
	color: #0D0D0D;
}

#name {
	color: #A6431F
}

iframe {
	display: block;
}

#mainText {
	width: 800px;
	height: 600px;
	margin: 0 auto;
	background-color: #bfc1c2;
	padding: 15px;
	border: 1px solid #A6431F;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #0D0D0D;
}